{% extends "base.html" %}
{% block title %}
    {% if menufunction %}
        {{ menufunction.name }}
    {% else %}
        All
    {% endif %}
{% endblock %}
{% block header %}
    <li {% if not menufunction %}class="active"{% endif %}>
        <a href="{% url "mainmenu_list" %}">All</a>
    </li>
    {% for f in menufunctions %}
        <li {% if menufunction == f %}class="active"{% endif %}>
            <a href="{% url "mainmenu_list_menufunction" f.slug %}">
                {{ f.name }}
                <span>({{ f.total_menuheaders }})</span>
            </a>
        </li>
    {% endfor %}
{% endblock %}
<!--div class="col-md-2"-->
{% block menu %}
    <ul class="nav nav-pills nav-stacked nav-menu" >
    <!--ul class="nav navbar-nav nav-pills   nav-pills nav-stacked  " role="tablist"-->
    <!--nav-stacked nav-pills-->
        {% for menuheader in menuheaders %}
            {% with menufunction=menuheader.menufunction %}
                <li>
                    <!--a href="{% url "menuheader_detail" menuheader.id %}">{{ menuheader.name }}</a-->
                    <!-- sub menu-->
                    <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"
                       href="#">
                        {{ menuheader.name }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for m in menuheader.rel_menu_details.all %}
                            <li data-id="{{ m.id }}" {% if m == menudetail %} class="selected"{% endif %}>
                                <a href="{% url "mainmenu_list_menufunction_header_detail" menufunction.slug menuheader.id m.id %}">
                                                                Detail <span class="order">{{ m.orderview|add:1 }} ({{ m.name }})</span>
                                </a>
                            </li>
                        {% empty %}
                            <li>No menudetails yet.</li>
                        {% endfor %}
                    </ul>

                </li>

            {% endwith %}
        {% empty %}
            <p>You haven't created any menu yet.</p>
        {% endfor %}
    </ul>
{% endblock %}
<!--/div-->
<!--div class="col-md-4"-->
{% block content %}
        <!--div class="list-group">
          <a href="#" class="list-group-item active">
            Cras justo odio
          </a>
          <a href="#" class="list-group-item active">Dapibus ac facilisis in</a>
          <a href="#" class="list-group-item active">Morbi leo risus</a>
          <a href="#" class="list-group-item active">Porta ac consectetur ac</a>
          <a href="#" class="list-group-item active">Vestibulum at eros</a>
        </div-->

        <h1>
        {{ menudetail.name }}
    </h1>

    <!-- Search box Start -->
    <!--form-->
        <div class="well carousel-search hidden-sm">
            <div class="btn-group">
                <a class="btn btn-default dropdown-toggle btn-select" data-toggle="dropdown"
                   href="{% url "mainmenu_list_menufunction_header_detail" menufunction.slug menuheader.id menudetail.id %}">
                    Select a Site
                    <span class="caret"></span>
                </a>
                <li class="divider"></li>
                <ul class="dropdown-menu">
                    {% for s in sites %}
                        <li data-id="{{ s.siteid }}" {% if s == psite %} class="selected"{% endif %}>
                            <a href="{% url "mainmenu_list_menufunction_header_detail_filtersite" menufunction.slug menuheader.id menudetail.id s.siteid %}">
                                                            {{ s.sitename }}
                            </a>
                        </li>

                    {% endfor %}

                    <!--li><a href="#"><span class="glyphicon glyphicon-star"></span> All</a></li-->
                </ul>
            </div>
            <div class="btn-group">
                <a class="btn btn-default dropdown-toggle btn-select2" data-toggle="dropdown" href="#">
                    Select a Task
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% for task in tasklists %}
                        <li><a href="#">{{ task.taskid }} - {{ task.shortname }}</a></li>
                    {% endfor %}
                    <li class="divider"></li>
                    <li><a href="#"><span class="glyphicon glyphicon-star"></span> All</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" id="btnSearch" class="btn btn-primary">Search</button>
            </div>
        </div>
    <!--/form-->
    <!-- Search box End -->

        <div class="module">
                    {% for itemcontent in menudetail.rel_itemcontents_menudetails.all %}
                        {% with item=itemcontent.item %}

                            {{ item.render }}
                        {% endwith %}

                    {% endfor %}
        </div>
{% endblock %}
<!--/div-->
