{% extends "base.html" %}
{% load menuheader %}

{% block title %}
    MenuDetail {{ menudetail.orderview|add:1 }}: {{ menudetail.name }}
{% endblock %}
{% block content %}
    {% with menuheader=menudetail.menuheader %}
        <h1>Menuheader "{{ menuheader.name }}"</h1>
        <div class="contents">
            <h3>MenuDetails</h3>
            <ul id="modules">
                {% for m in menuheader.rel_menu_details.all %}
                    <li data-id="{{ m.id }}" {% if m == menudetail %} class="selected"{% endif %}>
                        <a href="{% url "menudetail_itemcontent_list" m.id %}">
                            <span>
                                MenuDetail <span class="order">{{ m.orderview|add:1 }}</span>
                            </span>
                            <br>
                            {{ m.name }}
                        </a>
                    </li>
                {% empty %}
                    <li>No menudetails yet.</li>
                {% endfor %}
            </ul>
            <p><a href="{% url "menuheader_menudetail_update" menuheader.id %}">Edit menudetails</a></p>
        </div>
        <div class="module">
            <h2>MenuDetail {{ menudetail.orderview|add:1 }}: {{ menudetail.name }}</h2>
            <h3>MenuDetail itemcontents:</h3>
            <div id="menudetail-itemcontents">
                <li> sdfsdf</li>
                {% for itemcontent in menudetail.rel_itemcontents_menudetails.all %}
                    <div data-id="{{ itemcontent.id }}">
                        {% with item=itemcontent.item %}
                            <p>{{ item }}({{ item|model_name }})</p>
                            <a href="{% url "menudetail_itemcontent_update" menudetail.id item|model_name item.id %}">Edit - {{ item.id }}</a>
                            <form action="{% url "menudetail_itemcontent_delete" itemcontent.id %}" method="post">
                                <input type="submit" value="Delete">
                                {% csrf_token %}
                            </form>
                        {% endwith %}
                    </div>
                {% empty %}
                    <p>This menudetail has no itemcontents yet.</p>
                {% endfor %}
            </div>
            <hr>
            <h3>Add new itemcontent:</h3>
            <ul class="itemtypes">
                <li><a href="{% url "menudetail_itemcontent_create" menudetail.id "text" %}">Text</a></li>
                <li><a href="{% url "menudetail_itemcontent_create" menudetail.id "image" %}">Image</a></li>
                <li><a href="{% url "menudetail_itemcontent_create" menudetail.id "video" %}">Video</a></li>
                <li><a href="{% url "menudetail_itemcontent_create" menudetail.id "file" %}">File</a></li>
                <li><a href="{% url "menudetail_itemcontent_create" menudetail.id "chart" %}">Chart</a></li>
            </ul>
        </div>
    {% endwith %}
{% endblock %}