<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<div class="col-sm-6 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>{{item}}</h1>

        </div>
        <div class="panel-body">
            <div ng-app="myApp" ng-controller="namesCtrl">

            <p>Type a letter in the input field:</p>
{% verbatim %}
            <p><input type="text" ng-model="test"></p>
            <ul>
              <li ng-repeat="x in names | filter:test">
                <a>{{ x.name }}</a>
              </li>
            </ul>

            <select  ng-model="selectedSite">
                <option ng-repeat="x in names">
                    {{ x.id }}
                </option>

            </select>
            <a>{{ selectedSite }}</a>
            {% endverbatim %}
            <img src="{% url "plotResults" %}{% verbatim %} {{ selectedSite }} {% endverbatim %}">


        <img src="{% url 'plotResults' 123 %}">
            </div>
            <p><strong>{{ item.content|linebreaks|safe }}</strong></p>
            [{% for site in sites %}
                {% if not forloop.first %},{% endif %}
                '{{site.sitename}}'
            {% endfor %}]
        </div>
        <div class="panel-footer">
          <button class="btn btn-lg">Detail</button>
        </div>
      </div>

</div>

<script>

angular.module('myApp', []).controller('namesCtrl', function($scope) {
    var array_sites=[{% for site in sites %}
                {% if not forloop.first %},{% endif %}
                    {id:'{{site.siteid}}', name:'{{site.sitename}}'}
            {% endfor %}];
    $scope.names = array_sites;
});
</script>