{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
            Analytics App
        {% endblock %}
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="{% static "css/base.css" %}" rel="stylesheet">

    <script>
        $(document).ready(function() {
        {% block domready %}
        {% endblock %}
        });

    </script>

</head>
<body>
    <div id="header">

            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!--ul class="nav navbar-nav navbar-left"-->
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="/">Welcome</a></li>
                            <li class="active">
                                {% block header %}
                                    <a href="/menuheader/menufunction/home/">
                                        <i class="glyphicon glyphicon-home"></i>Home
                                    </a>
                                {% endblock %}
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if request.user.is_authenticated %}
                                <li><a href="{% url "edit" %}"><i class="glyphicon glyphicon-user"></i>{{ request.user }}</a></li>
                                <li><a href="{% url "logout" %}">Logout</a></li>
                            {% else %}
                                <li><a href="{% url "login" %}">Login</a></li>
                            {% endif %}
                        </ul>

                    </div>
                </div>
            </nav>

    </div>

    <div class="col-md-2">
        <!--div id="menu"-->
            <br><br><br>
            {% block menu %}
            {% endblock %}
            <div class="col-sm-12 col-xs-12">
                <a href="javascript:history.back()"
                   target="_self" id="code" type="submit" class="btn btn-success" style="width:100%">
                    <i class="glyphicon glyphicon-arrow-left"></i> Back
                </a>
            </div>
            {#% for i in '0123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789'|make_list %#}
                <!--br-->
            {#% endfor %#}
        <!--hr  style="align:right;border:1px solid red; transform: rotate(90deg);"-->
        <!--/div-->
    </div>

    <!--div class="vertical_line"></div-->
    <!--tao border div class="col-md-10" style="border-style: inset ;border-color: green;"
    http://www.w3schools.com/css/css_border.asp
    -->
    <div class="col-md-10">

        <div id="content">
            <br><br>
            {% block content %}
            {% endblock %}

            {% block message %}
                {% if messages %}
                    <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">
                        {{ message|safe }}
                        <a href="" class="close">✖</a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endblock %}

        </div>

    </div>

</body>
</html>