{% extends "base.html" %}
{% block title %}
    {% if object %}
        Edit itemcontent "{{ object.title }}"
    {% else %}
        Add a new itemcontent
    {% endif %}
{% endblock %}
{% block content %}
    <h1>
        {% if object %}
            Edit itemcontent "{{ object.title }}"
        {% else %}
            Add a new itemcontent
        {% endif %}
    </h1>
    <div class="module">
        <h2>Menuheader info</h2>
        <form action="" method="post" enctype="multipart/form-data">
            <p>Owner: {{ form.owner }}</p>
            <p>Title: {{ form.title }}</p>
            <p>File: {{ form.file }}</p>
            <p>Type: {{ form.charttype }}</p>
            <p>DataType: {{ form.datatype }}</p>
            <p>Content: {{ form.content }}</p>

            {% csrf_token %}
            <p><input type="submit" value="Save itemcontent"></p>
        </form>
    </div>
{% endblock %}