{% extends "base.html" %}
{% block title %}Edit your account{% endblock %}
{% block content %}
    <h1>Edit your account: {{ new_user.username }}</h1>
    <p>You can edit your account using the following form or click here to <a href="{% url "password_change" %}">change password</a></p>
    <form action="." method="post" enctype="multipart/form-data">
    <!--1./dùng multipart/formdata de cho phep file upload
        2./dùng cùng 1 form html cho cả 2 form user & profile -->
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Save changes"></p>
    </form>
{% endblock %}